body {
    background-color: #F7E7DC;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
    color: #758694;
}

body nav {
    background-color: #ECCEAE;
}

body nav div {
    max-width: 1040px;
    width: 70%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

body nav button {
    background-color: #ECCEAE;
    padding: 0.5rem;
    font-weight: bold;
    color: #FFF8F3;
    border: none;
}

body nav button:hover {
    color: #ff2e629e;
    cursor: pointer;
    border-bottom: 1px solid #FFF8F3;
}

nav img {
    max-width: 25px;
    border-radius: 50%;
}

.controls {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.controls div {
    max-width: 60%;
    background-color: #FFF8F3;
    border-radius: 1.25rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

}

main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    transition: all .5s ease;
}

.bar {
    margin: 0 1px;
    height: 50vh;
    width: 35px;
    background-color: #FFF8F3;
}

.bar-done {
    background-color: #FF2E63;
}

.bar-check {
    background-color: #00ADB5;
}

.bar-min {
    background-color: #F9ED69
}

.bar-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.65em;
    font-weight: bold;
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    border-top: 1px solid #ECCEAE;
    font-size: 0.9em;
    line-height: 2.5em;
}

.footer a,
p,
svg {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    color: #758694;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    font-size: 0.75rem;
    line-height: 1.1rem;
    color: #758694;
    text-align: right;
    transition: opacity 0.25s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.hovertext:hover .github {
    color: #ff2e629e;
}

@media screen and (max-width: 575.98px) {}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {}