body {
    background-color: #393E46;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.85714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
    color: #EEEEEE;
}

body nav {
    background-color: #494f58;
}

body nav div {
    max-width: 1040px;
    width: 70%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

body nav button {
    background-color: #494f58;
    border: 0;
    font-weight: bold;
    color: white;
}

body nav button:hover {
    color: #FF2E63;
    cursor:pointer;
}

nav img {
    max-width: 25px;
    border-radius: 50%;
}

.controls {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

main {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    transition: all .5s ease;
}

.bar {
    margin: 0 1px;
    height: 50vh;
    width: 5px;
    background-color: #222831;
}



.bar-moving {
    background-color: #FF2E63;
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    border-top: 1px solid #EEEEEE;
    font-size: 0.9em;
    line-height: 2.5em;
}

.footer a, p {
    margin: 0px 10px;
}

.footer img {
    max-width: 20px;
}

.square {
    border-radius: 5px;
}

.round {
    border-radius: 50%;
}

.footer img:hover {
    background-color: #FF2E63;
}

@media screen and (max-width: 575.98px) {

}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
    
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {
    
}